<!-- inventory/templates/inventory/index.html -->
{% extends 'inventory/base.html' %}

{% block content %}
  <h2>Inventory Management Dashboard</h2>
  <p>Welcome to the Inventory Management System. Choose an option:</p>
  <ul>
    <li><a href="{% url 'inventory:product_list' %}">View Product List</a></li>
    <li><a href="{% url 'inventory:add_product' %}">Add a New Product</a></li>
    <li><a href="{% url 'inventory:add_family' %}">Add a New Family</a></li>
    <li><a href="{% url 'inventory:add_subfamily' %}">Add a New subfamily</a></li>
    <li><a href="{% url 'inventory:subfamily_list' %}">View Subfamily List</a></li>
    <li><a href="{% url 'srm:supplier_list' %}">View Supplier List</a></li>
    <li><a href="{% url 'srm:add_supplier' %}">Add a new Supplier</a></li>


  </ul>
{% endblock %}
